<form method="post">
  <div class="form-group">
    <p>Keyword</p>
    <textarea class="form-control" name="keyword" rows="3"></textarea>
    <p>Content</p>
    <textarea class="form-control" name="content" rows="3"></textarea>    
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
  </form>
