<img  class="logoimg"width="300px" height="200px" src="/img/Logomis.png" alt="Logo">
<div id="home_test">
    
<h2>Chào mừng bạn đến với chatbot tư vấn ngân hàng của Cloud Five Team</h2>
<h4>Hiện website còn đang trong giai đoạn thử nghiệm, nếu phát hiện lỗi các bạn vui lòng liên hệ email:nguyenanhtu0407@gmail.com.<h4>
</div>
