
<form method="post">
  <div>
    <img  class="logoimg"width="300px" height="200px" src="/img/Logomis.png" alt="Logo">
  </div>
<div class="form-group">
  <audio src="" class="speech" hidden></audio>
  <textarea class="form-control" id="resultTextArea"rows="7" readonly>{{answer}}</textarea>
</div>
<div class="form-group">
  <textarea class="form-control" id="Textarea" name="text" rows="2" placeholder="Nhập câu hỏi của bạn....."></textarea>
  <button class="btn" type="button" onclick="startConverting()" ><i class="fa fa-microphone"></i></button>
  <button type="submit" class="btn btn-primary" id="send">Send</button>
</div>

<!-- <p id="Test">Ha ha</p> -->
</form>
<script>
  $(function(){
    $('#send').on('click',function(e){
      e.preventDefault();
    var text=  document.getElemetById("resultTextArea");
      //var url ="http://translate.google.com/translate_tts?tl=vi&q=" + text + "&client=tw-ob";
      //var url ="http://translate.google.com.vn/translate_tts?ie=UTF-8&q="+  text + "&tl=vi&client=tw-ob"
      var url = "http://translate.google.com.vn/translate_tts?ie=UTF-8&q="+text+"&tl=vi&client=tw-ob";
      //var url ="https://translate.google.com/translate_tts?ie=UTF-8&total=1&idx=0&textlen=32&client=tw-ob&q="+ text +"&tl=vi"
      $('audio').attr('src',url).get(0).play();
    });
  });
</script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="Speech_to_text.js"></script>
