.navbar {
  position: relative;
}
.area{
  position: relative;
}
/* @media all (max-width: ) */
#Textarea{
  display: block;
  max-width: 600px;
  position:absolute;
  top: 450px;
  left: 50%;
  color: 	#000000;
  transform: translate(-50%,-50%);
  background: #fff;
}
.btn{
  display: inline-block;
  position: absolute;
  bottom: -85%;
  right:32%;
  border-radius: 20px;

}
#send{
  display: block;  
  font-weight: bold;
  position: absolute;
  bottom: -85%;
  right:25%;
  border-radius: 10%;
}
#mario-chat{
  width: 600px;
  /* position: absolute; */
  position: relative;
  top:200px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
}

#chat-window{
 
  height: 250px;
  overflow: auto;
  background: #fff;
}
.guest {
  text-align: left;
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #BBBBBB;
}

.bot {
  text-align: right;
  border-bottom: 1px solid #BBBBBB;
  padding: 14px 0px;
  margin: 0 20px;
}

.logoimg{
  display: block;
  position: fixed;
  max-width:220px;
  height: auto;
  top:24%;
  left:50%;
  transform: translate(-50%,-50%);
}
#home_test{
  position: fixed;
  top:40%;
  display: block;
  color: red;
}
#home_test h2{
  color: blue;
}
h6{
  display: block;
  position: fixed;
  left:24%;
  font-style:italic;
  top:85%;

}
